target/
.mvn/
*.jar
*.war
*.ear
*.zip
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

.idea/
*.iml
*.ipr
*.iws

*.log
logs/

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp/
.pnp.js

dist/
dist-ssr/
*.tsbuildinfo

.env.local
.env.*.local

.env
.env.production.local
.env.test.local
.env.development.local

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

.vscode/
.idea/
*.swp
*.swo
*~
